.tabs {
    border: 2px solid grey;
    width: 50vw;
    padding: 10px;
    margin: 0 auto;
}
ul {
    display: flex;
    list-style-type: none;
}
.tab {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid grey;
}
.active {
    font-weight: bold;
    background: red;
}
